body {
    margin: 0;
    background: #293f50;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
    border-top: 4px solid #648880;
    float: left;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 40px 0 0 0;
    text-transform: uppercase;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    font: inherit;
    width: 960px;
    font: inherit;
    height: 200px;
}

.logo > a {
    text-decoration: none;
    color: #fff;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.head {
    display: flex;
    flex-direction: column;
}

.date {
    margin: 0 20px 0 200px;
    padding-top: 60px;
    text-align: right;
    font-size: 21px;
    color: #648880;
}

ul {
    list-style: none;
}

.navigationBar {
    text-align: right;
    float: right;
}

.first {
    letter-spacing: .5px;
    text-transform: uppercase;
    float: left;
}

.first a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    font-size: 15px;
}

.area {
    background-color: #cbe2c1;
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding: 44px 0 22px 0;
}

.text {
    padding: 0px 30px;
    margin: 0 0 0;
    font-size: 16px;
}

.heading {
    font-size: 36px;
    line-height: 44px;
    color: #648880;
    margin-bottom: 22px;
    text-align: center;
    margin-top: 0;
}

.information {
    text-align: center;
    margin: 0 150px 22px 150px;
    font-size: 21px;
    line-height: 33px;
}

.speaker {
    background: #fff;
    padding: 66px 0 44px 0;
}

.grid {
    margin: 0 74px;
    padding: 0 15px;
    width: 960px;
}

.detail {
    margin-bottom: 44px;
    display: flex;
}

.left {
    padding-left: 15px;
    padding-right: 15px;
    width: 700px; 
    margin-left: 120px;
    margin-right: 30px;
}

.name {
    font-size: 24px;
    line-height: 44px;
    color: #648880;
    text-transform: capitalize;
}

.about {
    margin-bottom: 22px;
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.info {
    margin-bottom: 22px;
}

.right {
    padding: 0 15px;
    width: 180px;
    display: inline-block;
    vertical-align: top;
}

.textAndImage {
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    margin-top: 135px;
    padding: 22px;
    text-align: center;
    width: 260px;
    height: 130px;
}

img {
    border-radius: 50%;
    height: 130px;
    margin: -66px 0 22px 0;
    vertical-align: top;
}

.list {
    list-style: none;
}

.twitter {
    color: #648880;
    text-decoration: none;
}

.site {
    color: #648880;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    color: #648880;
    font-size: 14px;
    padding: 44px 30px;
    margin: 0 220px;
}


small {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
}

.navigationBar2 {
    text-align: right;
    float: right;
}

.second {
    letter-spacing: .5px;
    text-transform: capitalize;
    float: left;
    text-align: center;
}

.second a {
    text-decoration: none;
    color: #fff;
    padding-left: 15px;
    font-size: 13px;
}

a:hover {
    color: #648880;
}

.account:hover {
    opacity: 0.6;
}